# Q1: Import numpy library

In [136]:
#import Numpy library as np

import numpy as np

# Q2: Generate a sequence of 15 floats using linspace() function

In [139]:
# Generate a sequnece of numbers from 1 to 15 using linspace
np.linspace(0,15,15)

array([ 0.        ,  1.07142857,  2.14285714,  3.21428571,  4.28571429,
        5.35714286,  6.42857143,  7.5       ,  8.57142857,  9.64285714,
       10.71428571, 11.78571429, 12.85714286, 13.92857143, 15.        ])

# Q3: Create a 3-D array in shape (2, 2, 3) containing the four arrays given below 
Note : the array's name is up to you.

|      |       |          |         |
|------| ----- | -------- | ------- |
|arr1 | 1.1    | 2.1       | 3.1        |
|arr2 | 4.1    | 5.1       | 6.1        |
|arr3 | 7.1    | 8.1       | 9.1        |
|arr4 | 10.1   | 11.1      | 12.1       |

In [142]:
#First create four arrays from the given 
arr1 = np.array([1.1,2.1,3.1])
arr2 = np.array([4.1,5.1,6.1])
arr3 = np.array([7.1,8.1,9.1])
arr4 = np.array([10.1,11.1,12.1])

# using concatenate function to join arrays togther and reshape it to (2,2,3)
my_array = np.concatenate((arr1,arr2,arr3,arr4)).reshape(2,2,3)
my_array

array([[[ 1.1,  2.1,  3.1],
        [ 4.1,  5.1,  6.1]],

       [[ 7.1,  8.1,  9.1],
        [10.1, 11.1, 12.1]]])

# Q4: Print the following:
Note: use the same array from Q3.
- Array's type.
- Array's elements datatype.
- Array's shape.
- Array's size.
- Array's dimention.

In [145]:
# Show the Details of our array(type,shape,etc..)

print(f"The array type is: {type(my_array)}")
print(f"The data type of elements: {my_array.dtype}")
print(f"The Shape of The array is : {my_array.shape}")
print(f"The size of array is : {my_array.size}")
print(f"The dimention of array is : {my_array.ndim} ")

The array type is: <class 'numpy.ndarray'>
The data type of elements: float64
The Shape of The array is : (2, 2, 3)
The size of array is : 12
The dimention of array is : 3

# Q5:  Change the array dimention from 3-D to 4-D
Note: use the same array from Q3.
- Create a new array to hold the changes. 
- Print the new array's dimention and shape.

In [148]:
#change array to 4D
array_4d = my_array.reshape(1,2,2,3)
print(array_4d)
print(f"\nThe Shape of The array is : {array_4d.shape}")
print(f"The dimention of array is : {array_4d.ndim} ")

[[[[ 1.1  2.1  3.1]
   [ 4.1  5.1  6.1]]

  [[ 7.1  8.1  9.1]
   [10.1 11.1 12.1]]]]

The Shape of The array is : (1, 2, 2, 3)
The dimention of array is : 4

# Q6: Change the array's elements datatype to integer  
Note: use the same array from Q5.

- Create a new array to hold the changes. 
- Print the new array.

In [151]:
# change the array from float to int
array_int = array_4d.astype("int")

print(array_int)
print("\n",  array_int.dtype)

[[[[ 1  2  3]
   [ 4  5  6]]

  [[ 7  8  9]
   [10 11 12]]]]

 int32

# Q7: Print all array's elements using for loop
Note: use the same array from Q6.

Hint: use nditer()

In [154]:
# using nditer we can loop a 4D with one for loop

for i in np.nditer(array_int):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

# Q8:  Print number 8 using array slicing
Note: use the same array from Q6.

In [157]:
array_int[0,1,0,1]

8

# Q9: Print number 5 and number 6 using array slicing
Note: use the same array from Q6.

In [160]:
array_int[0,0,1,1:3]

array([5, 6])

# Q10: Search for number 8 using where()
Note: use the same array from Q6.

Note: where() is only used with small data.

*the output represents the path of the index that leads to number 8*

In [163]:
# Find 8 in array_int
print(np.where(array_int == 8))

(array([0], dtype=int64), array([1], dtype=int64), array([0], dtype=int64), array([1], dtype=int64))

# Q11: Reshape the array as the following

    array([[[ 1, 2],
            [ 3,  4],
            [ 5,  6]],

           [[ 7,  8],
            [ 9, 10],
            [11, 12]]])
            
 Note: use the same array from Q6.

In [168]:
# reshape the array to become 3 roow and 2 columns
array_int.reshape(1,2,3,2)

array([[[[ 1,  2],
         [ 3,  4],
         [ 5,  6]],

        [[ 7,  8],
         [ 9, 10],
         [11, 12]]]])

# Q12: Join the given arrays below 
    arr1 = np.array([['A', 'B'], ['E', 'F']])
    arr2 = np.array([['C', 'D'], ['G', 'H']])
## Q12.1: Join the arrays without specifying the axis

In [171]:
# 12.1: Join the two arrays without specifying the axis
arr1 = np.array([['A', 'B'], ['E', 'F']])
arr2 = np.array([['C', 'D'], ['G', 'H']])
arr3 = np.concatenate((arr1,arr2))
arr3

array([['A', 'B'],
       ['E', 'F'],
       ['C', 'D'],
       ['G', 'H']], dtype='<U1')

# Q12.2: Join the arrays along rows with axis = 1

In [123]:
# 12.1 : Join two array with axis = 1
arr4 = np.concatenate((arr1,arr2), axis = 1)
arr4

array([['A', 'B', 'C', 'D'],
       ['E', 'F', 'G', 'H']], dtype='<U1')

# Q13: Split the array into two arrays with axis = 1, each array should contain four arrays. 
Note: use the same array from Q12.1

In [133]:
# using spilt function to split the array to four arrays by rows
arr5 = np.array_split(arr3 , 2,axis = 1)
arr5

[array([['A'],
        ['E'],
        ['C'],
        ['G']], dtype='<U1'),
 array([['B'],
        ['F'],
        ['D'],
        ['H']], dtype='<U1')]