In [158]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [171]:
#create array with np.ones function

x = np.ones(10)
x

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

## Q#2: Create y array with elements equal to 0.

In [174]:
#create array with np.zeros function

y = np.zeros(10)
y

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

## Q#3: Add x and y arrays.

In [177]:
# Add the x and y 

x + y

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [225]:
# another way 
np.add(x,y)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [180]:
# using np function to show Dimension, Shape, size and type of array

print(" The dimension of this array is :", x.ndim)

print(" The shape of this array is :", x.shape)

print(" The size of this array is :", x.size)

print(" The type of this array is :", x.dtype)

 The dimension of this array is : 1
 The shape of this array is : (10,)
 The size of this array is : 10
 The type of this array is : float64

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [183]:
#create a 2D array 
w = np.array([[11,12],[13,14,],[15,16]])
w , w.ndim

(array([[11, 12],
        [13, 14],
        [15, 16]]),
 2)

## Q#6: Create z array contains the numbers from 1 to 3.

In [186]:
#Create array contains numbers from 1 to 3 using arange function
z = np.arange(1,4)
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [189]:
#first let reshape z to be equl to w in dimeonsion
z = z.reshape(-1,1)
#Create a new array using two array before, w and z using np.hstack
newArray = np.hstack((z,w))
newArray

array([[ 1, 11, 12],
       [ 2, 13, 14],
       [ 3, 15, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [192]:
# create for loop to access all elements

for i in newArray:
    for elements in i :
        print(elements,end=" ")

1 11 12 2 13 14 3 15 16

## Q#9: Reverse the columns and rows of "newArray".

In [195]:
# Reverse the array 

newArray[::-1,::-1]

array([[16, 15,  3],
       [14, 13,  2],
       [12, 11,  1]])

In [197]:
#another way 

np.flip(newArray)

array([[16, 15,  3],
       [14, 13,  2],
       [12, 11,  1]])

## Q#10: Decrement all elements of "newArray" with 1.

In [200]:
# Using a simple subtraction process

newArray - 1

array([[ 0, 10, 11],
       [ 1, 12, 13],
       [ 2, 14, 15]])

In [219]:
#another way 

np.subtract(newArray,1)

array([[ 0, 10, 11],
       [ 1, 12, 13],
       [ 2, 14, 15]])

## Q#11: Find smallest and biggest values in "newArray".

In [203]:
# Using Max() And Min() fuctions on array

print(f"The Maximum  Value in Array is : {newArray.max()}")
print(f"The minimum  Value in Array is : {newArray.min()}")

The Maximum  Value in Array is : 16
The minimum  Value in Array is : 1

## Q#12: Print the first row of "newArray" using indexing.

In [205]:
#Print first row of newArray

newArray[0,:]

array([ 1, 11, 12])

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [208]:
# write your code here ^_^
newArray[newArray == 12]

array([12])

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [223]:
# write your code here ^_^
newArray[(newArray == 0) | (newArray == 13)]

array([13])

## Q#15: Change the shape of "newArray" to (9,1).

In [214]:
# using reshpae function to change the shape of newArray
newArray.reshape(9,1)

array([[ 1],
       [11],
       [12],
       [ 2],
       [13],
       [14],
       [ 3],
       [15],
       [16]])

## Q#16: Change the shape of "newArray" to (3,2).

In [217]:
# we Can't reshape newArray to (3,2) because our array is (3,3) shape
newArray.reshape(3,2)

ValueError: cannot reshape array of size 9 into shape (3,2)

# Well Done 🎉